@import url('https://fonts.googleapis.com/css?family=Poppins|Tajawal');
/*
font-family: 'Poppins', sans-serif;
font-family: 'Tajawal', sans-serif;
*/


body {
  font-family: 'Tajawal', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eceff1;
  /*height: 102vh!important;*/
}

.indiv-restroom {
  padding: 15px 0px;
  border-bottom: dashed white 4px;
  margin: auto 15px;
}

p {
  margin: 0;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  text-align: center;
  color: #b3e5fc;
  text-shadow: -1px 0 0.1px #000000, 1px 1px 0.1px #000000,
             2px -1px 0.1px #000000, 3px 0 0.1px #000000;
  border-bottom: dashed white 4px;
  padding: 25px 0px;
  margin: 0 15px;
}

.App > div{
  height: 100%!important;
}

.bathroom-results {
  height: 100vh;
  width: 29vw;
  overflow-y: scroll;
  display: block;
  float: left;
  background-color: #eceff1;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  position: relative;
  z-index: 4;
}

.bathroom-results-overflow {
  min-height: 103%;
}

.map-container {
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 70vw;
  height: auto;
  margin: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.2);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.info-subheader {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ef5350;
}

@media (max-width: 750px) {
  .map-container {
    display: block;
    height: 70vh;
    width: 100vw;
    margin: 0;
  }
  .bathroom-results {
    display: block;
    margin: 0;
    height: 30vh;
    width: 100vw;
    text-align: center;
  }
}