@import url('https://fonts.googleapis.com/css?family=Poppins|Tajawal');
/*
font-family: 'Poppins', sans-serif;
font-family: 'Tajawal', sans-serif;
*/

body {
  font-family: 'Tajawal', sans-serif;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  text-align: center;
}

p {
  margin-left: 15px;
}

.bathroom-results {
  height: 100vh;
  width: 30vw;
  overflow: scroll;
  display: block;
  float: left;
  background-color: lightgrey;
}

.map-container {
  display: inline-block;
}

.info-subheader {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
}